In [5]:
import pandas as pd
df = pd.read_parquet("../data/processed/metrics_monthly.parquet")
df.head()

   year  month  trips  total_distance_mi  total_fare  total_tip  total_revenue
0  2001      1      2                2.0        3.65       17.0          21.60
1  2001      2      1                1.0        0.00        2.5           3.80
2  2002      2     11               14.0       32.24      153.5         196.92
3  2002     12      2                2.0        0.00        3.0           3.80
4  2003      1      6               11.0        0.00       14.0          16.10