In [7]:
import pandas as pd
df = pd.read_parquet("../data/processed/metrics_monthly.parquet")
df.head()

,year,month,trips,total_passengers,total_distance_mi,total_fare,total_tip,total_revenue,avg_trip_distance,avg_fare,avg_tip
0,2018,12,348,692.0,1.259680e+03,4.981000e+03,5.341800e+02,6.018220e+03,3.619770,14.313218,1.535000
1,2019,1,7641321,11942222.0,2.178173e+07,9.450866e+07,1.385397e+07,1.195155e+08,2.850519,12.368105,1.813034
2,2019,2,6999348,10963459.0,2.056482e+07,8.970615e+07,1.505482e+07,1.304111e+08,2.938105,12.816358,2.150889
3,2019,3,7812636,12267062.0,2.378175e+07,1.023189e+08,1.717634e+07,1.491451e+08,3.044011,13.096595,2.198533
4,2019,4,7425000,11626962.0,2.272622e+07,9.832752e+07,1.629227e+07,1.431548e+08,3.060770,13.242764,2.194245